# Ignore build artifacts
build
coverage
node_modules

# Ignore config files
webpack.config.js
eslint.config.mjs
package-lock.json
package.json

# Ignore Git and Prettier ignore files
.gitignore
.prettierignore
